.article_inner {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #e1e1e1;
  .article_info_1 {
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    .article_title {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      justify-content: space-between;
      padding: 10px 2%;
      background-color: #fff;
      border-bottom: 1px solid #e5e5e5;
      .title_left {
        width: 100%;
        margin: 0px;
        padding: 0px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        li {
          list-style: none;
          margin: 5px 0px;
        }
        .left_title {
          font-size: 22px;
          font-weight: 700;
          h1 {
            margin: 0px;
          }
        }
        .left_info {
          color: rgba(0,0,0,.45);
          font-size: 14px;
        }
        .left_desc {
          font-size: 16px;
          font-weight: 400;
          h3 {
            margin: 0px;
          }
        }
      }
      .title_right {
        // min-width: 100px;
        margin-left: 10px;
        display: flex;
        justify-content: space-between;
        button {
          margin: 0px 5px;
        }
      }
    }
    .article_content {
      width: 100%;
      padding: 10px 2%;
      background-color: #fff;
      border-bottom: 1px solid #e5e5e5;
      img {
        width: 100%;
      }
    }
    .article_del {
      width: 100%;
      display: flex;
      flex-direction: row-reverse;
      padding: 10px 2%;
      background-color: #fff;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      button {
        margin: 0px 5px;
      }
    }
    .article_comment {
      width: 100%;
      padding: 0px 10px;
      border-radius: 5px;
      overflow: hidden;
      background-color: #fff;
      margin-top: 10px;
      border-bottom: 1px solid #e5e5e5;
      .ant-comment-actions {
        li {
          span {
            display: flex;
            align-items: center;
          }
        }
      }
    }
    .article_editor {
      width: 100%;
      border-radius: 5px;
      overflow: hidden;
      background-color: #fff;
      margin-top: 10px;
      .editor_init {
        width: 100%;
        padding: 10px 2%;
      }
      .editor_comfirm {
        width: 100%;
        padding: 0px 2% 10px 2%;
      }
    }
  }
  .article_info_2 {
    width: 290px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
  }
  .article_warn {
    width: 100%;
    background: #fff;
    border-radius: 5px;
    overflow: hidden;
  }
}